body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
  font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
}

img,
embed,
object,
video {
    margin: 0;
    max-width: 100%;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.error {
  padding: 20px;
}

.bold {
  font-weight: 400!important;
}


::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #F0F9FA;
}

::-webkit-scrollbar-thumb {
    background: #BDCBCC; 
}


.logo {
  width: 100%;
  height: 100%;
  background-image: url('./icons/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s ease;
}

header {
  width: 100%;
  height: 80px;
  background-color: #BDCBCC;
  display: grid;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  z-index: 1;
}

header h1 {
  color: #3B3F40;
  font-size: 24px;
  transition: margin 0.5s ease;
  font-weight: 100;
  text-align: center;
}

#mapContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  transition: margin 0.5s ease;
}

#map {
  height: calc(100vh - 80px);
}

#menu_button {
  position: absolute;
  top: 16px;
  right: -68px;
  width: 48px;
  height: 48px;
  background-image: url('./icons/hamburger.svg');
  background-color: #304B4C;
  border-radius: 5px;
  border-style: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.5s ease;
}

#menu {
  width: 260px;
  height: 100%;
  top: 0;
  padding: 0 20px 0;
  position: absolute;
  background-color: #CCDBDC;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  -webkit-transform: translate(-300px, 0);
  transform: translate(-300px, 0);
  transition: transform 0.5s ease;
  z-index: 1;
  overflow-y: auto;
  display: grid;
  grid-template-rows: 80px 50px auto;
}

#menu.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

#menu #menuHeader {
  height: 80px;
  display: grid;
  align-items: center;
  color: #3B3F40;
}

#menu input {
  height: 40px;
  border: none;
  background-color: #F0F9FA;
  padding: 5px 20px;
  outline: none;
  font-size: 16px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#menu ul {
  margin: 15px 0;
  list-style: none;
  padding: 0;
  color: #3B3F40;
}

#menu li {
  padding: 15px 0;
  font-weight: 100;
}

@media screen and (min-width: 600px) {
  header h1 {
    margin-left: 300px;
    transition: margin 0.5s ease;
  }
  #menu_button {
    display: none;
  }
  #menu {
    -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
  }
  #mapContainer {
    margin-left: 300px;
  }
}

@media screen and (max-width: 500px) {
  .logo {
  width: 70%;
  height: 100%;
  background-image: url('./icons/logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.5s ease;
  }

  #menu.open #menu_button {
    right: 35px;
    transition: all 0.5s ease;
  }
}