.weather {
	max-width: 200px;
	padding: 10px 0 10px 15px;
	display: grid;
	text-align: center;
	color: #3B3F40;
}

.w-details {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0 0 10px;
}

.row {
	display: grid;
}

.row img {
	width: 50px;
	margin: auto;
}

.row p {
	padding: 0;
	margin: 0;
	font-size: 16px;
}

.compass {
	height: 80px;
	background-image: url('./icons/compass.svg');
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
}

.compassArrow {
	height: 80px;
}

.weather h2 {
	font-size: 16px;
	padding: 0 0 10px;
	margin: 0;
	text-align: center;
}

.weather .temperature {
	font-size: 24px;
	font-weight: 800;
	color: red;
}